{% extends 'base.html.twig' %}

{% block title %}Lanci Tounsi!{% endblock %}

{% block content %}
	<div class="banner-slider">
				<div class="owl-carousel bnnr-owl owl-theme">
					<div class="item">
						<div class="featured-cities">
							<a href="#">
								<div class="feature-img">
									<img src="images/homepage/owl-bnnr/img-1.jpg" alt="">
									<div class="overly-bg"></div>
								</div>
							</a>
							<a href="#">
								<div class="featured-text">
									<div class="city-title">California</div>
									<ins>125 Jobs</ins>
								</div>
							</a>
						</div>						
					</div>
					<div class="item">
						<div class="featured-cities">
							<a href="#">
								<div class="feature-img">
									<img src="images/homepage/owl-bnnr/img-2.jpg" alt="">
									<div class="overly-bg"></div>
								</div>
							</a>
							<a href="#">
								<div class="featured-text">
									<div class="city-title">Austin</div>
									<ins>200 Jobs</ins>
								</div>
							</a>
						</div>						
					</div>
					<div class="item">
						<div class="featured-cities">
							<a href="#">
								<div class="feature-img">
									<img src="images/homepage/owl-bnnr/img-3.jpg" alt="">
									<div class="overly-bg"></div>
								</div>
							</a>
							<a href="#">
								<div class="featured-text">
									<div class="city-title">Los Angeles</div>
									<ins>25 Jobs</ins>
								</div>
							</a>
						</div>						
					</div>
					<div class="item">
						<div class="featured-cities">
							<a href="#">
								<div class="feature-img">
									<img src="images/homepage/owl-bnnr/img-4.jpg" alt="">
									<div class="overly-bg"></div>
								</div>
							</a>
							<a href="#">
								<div class="featured-text">
									<div class="city-title">San francisco</div>
									<ins>12 Jobs</ins>
								</div>
							</a>
						</div>						
					</div>
					<div class="item">
						<div class="featured-cities">
							<a href="#">
								<div class="feature-img">
									<img src="images/homepage/owl-bnnr/img-5.jpg" alt="">
									<div class="overly-bg"></div>
								</div>
							</a>
							<a href="#">
								<div class="featured-text">
									<div class="city-title">Tulsa</div>
									<ins>190 Jobs</ins>
								</div>
							</a>
						</div>						
					</div>									
				</div>
			</div>
            <div class="achivements">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="achive-text">{% set size1 = user | length %}
								<span class="nav-link"> {{ size1 }}</span> Registered Members</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="achive-text">{% set size2 = projet | length %}<span class="nav-link"> {{ size2 }}</span> Jobs Found</div>
						</div>

                        

						<div class="col-lg-4 col-md-6 col-12">
							<ul class="post-buttons">
                            {% if app.user%}
								<li><button class="add-job" onclick="window.location.href = 'post_a_job.html';">Post a Job</button></li>
                            {% endif %}
								
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div class="we-offers">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-12">
							<div class="main-heading">
								<h2>What We Offers</h2>
								<span>Offering the Best Deal</span>
								<div class="line-shape1">
									<img src="images/line.svg" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="offer-step">
								<div class="offer-text-dt">
									<h4>Searching the Best Jobs</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum commodo mi.</p>
									<a href="#">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="offer-step">
								<div class="offer-text-dt">
									<h4>Apply for a Good Job</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum commodo mi.</p>
									<a href="#">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="offer-step">
								<div class="offer-text-dt">
									<h4>More Quality Hires</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum commodo mi.</p>
									<a href="#">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="offer-step">
								<div class="offer-text-dt">
									<h4>Choose Working Hours</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum commodo mi.</p>
									<a href="#">Read More<i class="fas fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="all-categories">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-12">
							<div class="main-heading">
								<h2>Choose Category</h2>
								<span>Find quality talent or agencies</span>
								<div class="line-shape1">
									<img src="images/line.svg" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="job-categories mt-30">
								<div class="row no-gutters">
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-5.svg" alt="">
												<span>Web, Mobile &amp; Software Dev</span>
												<p>150 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-2.svg" alt="">
												<span>Data Science &amp; Analytics</span>
												<p>120 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-3.svg" alt="">
												<span>Admin Support</span>
												<p>290 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-4.svg" alt="">
												<span>Design &amp; Creative</span>
												<p>250 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-11.svg" alt="">
												<span>Accounting &amp; Consulting</span>
												<p>350 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-13.svg" alt="">
												<span>Writing</span>
												<p>90 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-14.svg" alt="">
												<span>Legal</span>
												<p>250 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-15.svg" alt="">
												<span>IT &amp; Networking</span>
												<p>150 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-9.svg" alt="">
												<span>Sales &amp; Marketing</span>
												<p>110 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-16.svg" alt="">
												<span>Customer Service</span>
												<p>310 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-17.svg" alt="">
												<span>Translation</span>
												<p>410 Jobs</p>
											</a>
										</div>						
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
										<div class="p-category">
											<a href="#" title="">
												<img src="images/homepage/categories/icon-7.svg" alt="">
												<span>Engineering &amp; Architecture</span>
												<p>190 Jobs</p>
											</a>
										</div>						
									</div>
								</div>						
							</div>													
						</div>						
					</div>
				</div>
			</div>
            <div class="all-categories">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="main-heading text-left">
								<h2>Post Jobs</h2>
								<span>Quick and easy way to advertise.</span>
								<div class="line-shape1">
									<img src="images/line.svg" alt="">
								</div>
							</div>
							<div class="text152">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu purus et diam blandit vehicula sit amet sed metus. Fusce condimentum non neque at fringilla.</p>
							</div>
							<div class="text-steps">
								<div class="text-step1">
									<div class="btext-heading">
										<i class="far fa-check-circle"></i>Hire for your company.
									</div>
									<p>Aenean malesuada aliquet tincidunt. Nam a nisl mi. Fusce ornare fermentum enim, id interdum velit posuere quis.<p>
								</div>
								<div class="text-step1">
									<div class="btext-heading">
										<i class="far fa-check-circle"></i>Daily out reach to qualified matches.
									</div>
									<p>Aenean malesuada aliquet tincidunt. Nam a nisl mi. Fusce ornare fermentum enim, id interdum velit posuere quis.<p>
								</div>
								<div class="btns15">
									<button class="btn-152" onclick="window.location.href = 'post_a_job.html';">Post a Job</button>
									<button class="btn-153" onclick="window.location.href = '#';">Learn More</button>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="main-heading text-left mt-80">
								<h2>Talented Candidates</h2>
								<span>Get discoverd by companies looking to hire remote.</span>
								<div class="line-shape1">
									<img src="images/line.svg" alt="">
								</div>
							</div>
							<div class="text152">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu purus et diam blandit vehicula sit amet sed metus. Fusce condimentum non neque at fringilla.</p>
							</div>
							<div class="text-steps">
								<div class="text-step1">
									<div class="btext-heading">
										<i class="far fa-check-circle"></i>Get your profile listed.
									</div>
									<p>Aenean malesuada aliquet tincidunt. Nam a nisl mi. Fusce ornare fermentum enim, id interdum velit posuere quis.<p>
								</div>
								<div class="text-step1">
									<div class="btext-heading">
										<i class="far fa-check-circle"></i>Customize your profile.
									</div>
									<p>Aenean malesuada aliquet tincidunt. Nam a nisl mi. Fusce ornare fermentum enim, id interdum velit posuere quis.<p>
								</div>
								<div class="btns15">
									<button class="btn-152" onclick="window.location.href = 'browse_freelancers.html';">Get Listed</button>
									<button class="btn-153" onclick="window.location.href = '#';">Learn More</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}
