{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reclamation{% endblock %}

{% block content %}
    <h1>Nouvelle réclamation</h1>

    <main class="browse-section">
        <div class="container">
            <div class="row">

                <div class="post501">
                    {{ form_start(form)}}
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label class="label15">Description*</label>
                                {{ form_widget(form.description,{'attr':{ 'placeholder': 'Description of Project Here' ,'class': 'textarea_input' }})}}
                            </div>
                            <div style="color: red">{{ form_errors(form.description) }}</div>
                        </div>


                        <div class="col-lg-12">
                            <button class="post_jp_btn" type="submit" formnovalidate>Réclamer</button>
                        </div>
                    </div>
                    {{ form_end(form)}}
                </div>
            </div>

        </div>
        </div>
    </main>
{% endblock %}
